body{
    margin: 0;
}
*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,h2,h3,h4,p{
    margin: 0;
}

.container{
    max-width: 1640px;
    padding: 0 20px;
    margin: 0 auto;
}

.navigation {
    width: 100%;
    height: 55px;
    background-color: #BF005A;
    display: flex;
    align-items: center;
    padding: 0 16px;
}
.navigation .logo{
    color: #fff;
    font-size: 18px;
    margin-right: 90px;
}
.nav_wrapper{
    background-color: #960046;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    width: 1570px;
    height: 38px;
}

.nav_wrapper i{
    color: #fff;
}
.nav_wrapper .left_nav i{
    font-size: 12px;
}
.nav_wrapper ul{
    display: flex;
}
.nav_wrapper ul li {
    padding: 8px;
    position: relative;
    display: flex;
    align-items: center;
}
.nav_wrapper ul li a,
.nav_wrapper ul li span{
    color: #fff;
    font-size: 14px;
}
.nav_wrapper ul li:hover{
    background-color: #BF005A;
    cursor: pointer;
}







.nav_wrapper .right_nav ul li{
    padding: 8px 16px;
    display: flex;
    align-items: center;
} 



.li_open{
    width: 160px;
    
    padding: 8px 0;
    background-color: #BF005A;
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 3px;
    display: none;
}

.li_open_body{
    width: 100%;
    height: 100%;
    background-color: #960046;
}


.li_open_body ul{
    flex-direction: column;
}

.li_open_body ul li{
    padding: 4px 24px;
}

.li-active .li_open{
    z-index: 10;
}

.li-active .li_open{
    display: block !important;
}







.li_open_widthMod{
    width: 410px;
}

.first_screen_wrapper{
    width: 1110px;
    margin: 0 auto;
}


.first_screen .banner_block{
    width: 1110px;
    height: 330px;
    background-image: url('../img/first_block/bg.jpg');
    background-position-x: -90px;
}


.banner_block h1{
    font-size: 37px;
    font-family: times;
    width: 454px;
    text-align: center;
    line-height: 30px;
    color: #e11b21;
    transform: translate(200px, 5px);
}


.banner_block h1 span{
    font-size: 26px;
    font-family: times;
}
.content_banner{
    display: flex;
    
}
.content_banner .circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.content_banner .circle img{
    width: 150px;
    height: 150px;
}


.right_block_content{
    width: 307px;
    height: 165px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    padding: 20px;
}



.right_block_content p{
    font-size: 19px;
    
}



.right_block_content p span{
    color: #c3c;
    font-weight: 800;
}
.right_block{
    margin-top: 20px;
    margin-left: 40px;
}
.right_block h3{
    font-family: 'Merienda', cursive;
    font-size: 37px;
    color: #ffc6ff;
    text-shadow: 1px 1px #804a5a;
    margin-left: -36px;
}





.content_banner{
    padding: 0 40px;
}



.first_card_block{
    display: flex;
}
.card_block_item{
    padding: 4px;
    flex: 0 0 25%;
}
.card_block_item_content{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,.125);
    padding: 8px;
    border-radius: 4px;
}
.first_card_block > a:hover .txt h4,
.first_card_block > a:hover .txt p{
    text-decoration: underline;
}
.card_block_item_content .txt{
    text-align: center;
}



.card_block_item_content .txt h4{
    font-size: 16px;
    color: #960046;
    font-weight: normal;
    margin-bottom: 12px;
}
.card_block_item_content .txt p{
    font-size: 13px;
    color: #960046;
}



.card_block_item_content .txt ul li{
    text-align: left;
}


.card_block_item_content .txt ul{
    list-style: disc;
    padding-left: 32px;
}
.card_block_item_content .txt ul li a{
    color: #960046;
}

.card_block_item_content .txt ul li a:hover{
    text-decoration: underline;
}






.special_ladies_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}
.special_ladies_item{
    margin: 8px 0;
    min-height: 754px;
    flex: 0 0 25%;
    padding: 4px;
}
.special_ladies_item .item_content{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border: 1px solid rgba(0,0,0,.125);
    height: 100%;
}
.special_ladies_item h4{
    font-weight: normal;
    margin-bottom: 12px ;
}
.special_ladies_item h4,
.special_ladies_item p{
    color: #960046 
}


.special_ladies_item:hover h4,
.special_ladies_item:hover p{
    text-decoration: underline;
}



.special_ladies_item .txt{
    padding: 20px;
}

.special_ladies_item .img img{
    width: 100%;
}


.special_ladies_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 16px;
}



.special_ladies_title h3{
    font-size: 28px;
    font-weight: normal;
}


.special_ladies_title a{
    font-size: 14px;
    color: #212529;
}

.special_ladies_title .left i::before{
    transform: rotate(180deg);
}

.footer{
    background-color: #292C2F;
}




.footer_wrapper{
    display: flex;
    
}
.footer_item{
    padding: 24px 15px 16px;
    flex: 0 0 33.33%;
}

.footer_wrapper .footer_item ul{
    list-style: disc;
}
.footer_wrapper .footer_item ul li::marker{
    color: #fff;
}

.footer_wrapper .footer_item ul li a{
    color: #bf005a;
    font-size: 14px;
}
.footer_item .item_twen_content{
    text-align: center;
}
.footer_item .item_twen_content .location{
    color: #bf005a;
    font-size: 18px;
    font-weight: 700;
}

.footer_item .item_twen_content .name{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.footer_item .item_twen_content .phone i,
.footer_item .item_twen_content .phone a,
.footer_item .item_twen_content .mail i,
.footer_item .item_twen_content .mail a{
    color: #fff;
    font-size: 14px;
}
.footer_item .item_twen_content:last-child{
    padding-top: 20px;
}



.description_item{
    width: 533px;
    text-align: center;
}



.footer_item .subtitle{
    font-size: 14px;
    text-align: justify;
    color: #fff;
    margin-bottom: 16px;
}

.footer_item .about{
    font-size: 21px;
    color: #bf005a;
    margin-bottom: 8px;
    display: block;
}



.social_links{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
}

.social_links a{
    display: flex;
    align-items: center;
    color: #960046;
    font-size: 14px;
}
.social_links a img{
    width: 20px;
    height: 20px;
}
.footer_info{
    font-size: 14px;
    color: #8f9296;
}

.burger{
    display: none;
}

.burger_btn{
    border-radius: 4px;
    width: 56px;
    height: 40px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.burger_btn div{
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
}

.navigation{
    position: relative;
}

.burger_menu{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #960046;
    left: 0;
    top: 100%;
    z-index: 1;
    padding: 20px;
    display: none;
}
.burger_menu li {
    padding: 5px 0;
}
.burger_menu li .open_list{
    display: flex;
    flex-direction: column;
    display: none;
    padding-left: 20px;
    

}



.burger_menu li a,
.burger_menu li span{
    color: #fff;
    font-size: 20px;
}






.burger_menu li .open_list ul li a{
    font-size: 18px;
}



.open_list_services{
    overflow: hidden;
    height: 155px;
}
.open_list_services ul{
    height: 100%;
    overflow: auto;
}
.memberships_body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#F9FAFC;
}
.membership{
    padding: 50px 0;
    
}
.membership h1{
    font-size: 30px;
    padding-left: 20px;
}
.membership_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.membership_item{
    flex: 0 0 25%;
    
    padding: 20px;
}
.membership_item_wrapper{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
}
.membership_item_wrapper .img{
    width: 100px;
}
.membership_item_wrapper .img img{
    width: 100%;
}
.membership_item_wrapper .txt {
    text-align: center;
}

.membership_item_wrapper .txt h4{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}

.membership_item_wrapper .txt p{
    font-size: 16px;
    margin-bottom: 5px;
}
.membership_item_wrapper .txt span{
    display: block;
    font-size: 16px;
}

.membership_item_wrapper .txt .price_one,
.membership_item_wrapper .txt .price_two{
    font-weight: 700;
}

.membership_item_wrapper .txt .order_now{
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    background-color: #38C072;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 15px;
    margin-top: 5px;
}

.membership_item_wrapper .txt .price_ofer{
    margin-top: 15px;
}


.best_offer .txt .price_one ,
.best_offer .txt .price_two{
    position: relative;
    color: gray;
}
.best_offer .txt .price_one::before ,
.best_offer .txt .price_two::before{
    content: "";
    width: 55px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-19deg);
    
}

.best_offer .txt .price_ofer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.best_offer .txt .price_ofer .price_new{
    color: #fff;
    background-color: red;
    border-radius: 5px;
    padding: 2px 5px;
    font-weight: 700;
}




.best_offer .txt .price_ofer .price_all{
    position: relative;
    color: gray
}


.best_offer .txt .price_ofer .price_all::before{
    content: "";
    width: 65px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-16deg);
}


























@media screen and (max-width: 1680px){
    .nav_wrapper{
        width: 83%;
    }
}
@media screen and (max-width: 1440px) {
    .navigation{
        justify-content: space-between;
    }
    .navigation .logo{
        margin-right: 0;
    }    
    .nav_wrapper{
        width: 80%;
    }
}
@media screen and (max-width: 1366px){
    .nav_wrapper_memberpage .right_nav ul li{
        padding: 8px;
    }
    .membership_item_wrapper .img{
        width: 100px;
    }
    .membership_item_wrapper .img img{
        width: 100%;
    }
    .nav_wrapper_memberpage  ul{
        height: 100%;
    }
    .nav_wrapper_memberpage  ul li{
        padding: 5px;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 1024px){
    .first_screen_wrapper{
        width: 100%;
    }
    .first_screen .banner_block{
        width: 100%;
    }
    .first_card_block{
        flex-wrap: wrap;
    }
    .special_ladies_item{
        flex: 0 0 33%;
    }
    .card_block_item{
        flex: 0 0 33.33%;
    }
    .footer_wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .membership_item{
        flex: 0 0 33.33%;
    }
    .nav_wrapper_memberpage  ul li a,
    .nav_wrapper_memberpage  ul li span{
        font-size: 11px;
    }
    .nav_wrapper_memberpage .li_title{
        display: flex;
        align-items: center;
    }
    .nav_wrapper_memberpage{
        width: 83%;
    } 

}
@media screen and (max-width: 800px){
    .content_banner .circle{
        flex: 0 0 250px;
    }
    .right_block h3{
        font-size: 23px;
    }
    .first_screen .banner_block{
        background-position-x: -340px;
    }
    .card_block_item {
        flex: 0 0 50%;
    }
    .special_ladies_item {
        flex: 0 0 50%;
    }
    .nav_wrapper{
        display: none;
    }
    .burger{
        display: block;
    }
    .content_banner{
        flex-wrap: wrap;
    }
    .membership_item{
        flex: 0 0 50%;
    }
    .membership{
        padding: 25px 0;
        
    }
}
@media screen and (max-width: 500px){
    .banner_block h1{
        transform: translate(0,0);
        width: 100%;
        padding-top: 10px;
    }
    .first_screen .banner_block{
        height: auto;
        background-size: cover;
        /* background-position-x: -420%; */
    }
    .content_banner .circle{
        margin-top: 0;
    }
    .content_banner{
        justify-content: center;
    }
    .card_block_item{
        flex: 0 0 100%;
    }
    .special_ladies_item {
        flex: 0 0 100%;
    }
    .special_ladies_title h3{
        font-size: 20px;
    }
    .special_ladies_title a{
        font-size: 10px;
    }
    .right_block_content{
        width: 252px;
        height: 144px;
    }
    .right_block_content p {
        font-size: 15px;
    }
    .content_banner .circle{
        flex: 0 0 170px;
        height: 170px;
    }
    .content_banner .circle img {
        width: 100px;
        height: 100px;
    }
    .right_block h3 {
        font-size: 27px;
        text-align: center;
        margin-left: 0;
    }
    .right_block{
        margin-left: 0;
        padding-bottom: 20px;
    }
    .right_block_content{
        margin: 0 auto;
    }
    .membership_item{
        flex: 0 0 100%;
    }
}
































































































































































